h1{
  color: blue;
  background-color:beige; 
}

p{
   color:green;
   font-weight: bold;
   font-style: italic;
   text-decoration: underline;
}

div {
   width:450px;
   height:150px;
   background-color:beige;
   border-top-style: solid;
   border-top-width: 8px;
   border-top-color: aquamarine;
}

.div1{
   border-top-color:red;
}

.div2{
   border-bottom:dotted 20px grey;
}

.div3{
   border:dashed 5px blueviolet;
}
