<style>
    img{
        width: 12%;
        margin: 9px;
    }
</style>
<img src="img.png" alt=""><img src="img.png" alt="">
<!--<img src="img.png" alt=""><img src="img.png" alt="">-->
<!--<img src="img.png" alt=""><img src="img.png" alt="">-->
<!--<img src="img.png" alt=""><img src="img.png" alt="">-->
<!--<img src="img.png" alt=""><img src="img.png" alt="">-->
<!--<img src="img.png" alt=""><img src="img.png" alt="">-->
<!--<img src="img.png" alt=""><img src="img.png" alt="">-->