.container-1 div, .container-2 div{
   width:350px;
   border:solid 2px blue;
   background-color:aquamarine;
   height: 50px;
}

.container-1, .container-2{
   width:70%;
   background-color: antiquewhite;
   border:solid 2px black;
   margin-top:10px;
   width: 700px;
   height: 300px;
}

.container-1 .div-2{
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 100px;
}

.container-2 {
   padding-left: 50px;
   padding-top: 50px;
   box-sizing: border-box;
}

.container-1{
   /* position: relative; */
}

.div-1 {
   width:350px;
   border:solid 2px blue;
   background-color:aquamarine;
   height: 50px;
   /* margin-top: 200px;
   margin-bottom: 100px; */
   /* position:absolute; */
   /* bottom:100px;
   right: 100px; */
}

.div-1, .div-3, .div-4{
   position: absolute;
}

.div-4{
   width: 400px;
   background-color: brown;
}