div{
   border: solid 1px black;
   background-color: antiquewhite;
   min-height: 40px;
   width: 50%;
   margin: 10px auto;
}

div p{
   background-color: aqua;
   min-height: 10px;
}

#p2{
   border: solid 4px green;
}

.p1{
   min-height: 50px;
}

.p1_1 {
   background-color: yellow;
}