.container1, .container2{
   min-height: 750px;
   width: 60%;
   border: solid;
   background-color: aquamarine;
   margin: auto;
   margin-bottom: 10px;
}

.container1 {
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   flex-wrap: wrap;
   align-items: center;
   align-content: space-between;
}

.container2 {
   display: flex;
}

.container1 .item, .container2 .item{
   min-height: 100px;
   background-color: brown;
   width: 150px;
   border: solid red;
   color: white;
   font-size: 3em;
   text-align: center;
}

.container2 .item{
   flex-grow: 1;
}